@charset "UTF-8";
/*azul*/
/*cinza claro*/
/*cinza escuro*/
/*preto*/
* {
  margin: 0;
  padding: 0; }

body {
  list-style: none;
  font-size: 1em;
  font-family: "Segoe UI", Helvetica, Arial; }

a {
  text-decoration: none;
  color: #000; }
  a :hover {
    color: #1DA1F2; }

/*
SESSÃO PESQUISA
*/
h2 {
  font-size: 1.5em; }

#search div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px; }

.box_search {
  border-radius: 23px;
  border: 1px solid #F2F2F2;
  width: 408px;
  height: 40px;
  background-color: #F2F2F2;
  font-size: 2.5em;
  font-weight: 700;
  color: #6E6E6E;
  padding: 5px; }

.box_search:hover {
  background-color: #fff;
  border: 1px solid #6E6E6E; }

/*
BOTÃO DE PESQUISA
*/
.button_search {
  background-color: #1DA1F2;
  border-radius: 33px;
  width: 392px;
  height: 66px;
  border: 0;
  font-size: 2em;
  font-weight: 700;
  color: #fff; }

.button_search:hover {
  background-color: #027DC8; }

/*
SESSÃO RESULTADOS DA PESQUISA
*/
#results_search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #results_search div {
    width: 620px;
    background-color: #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px 50px 0px 0px;
    height: 100%; }
    #results_search div h1 {
      text-align: center;
      font-size: 2.5em;
      padding: 10px 0px 10px 0px; }
